<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport",
        content="width=device-width, initial-scale=1.0")
        title Lab06

        h1 Titulo
        div
            p Hola amigos
    body